*{
    margin: 0;
    box-sizing: border-box;
}

#main{
  
}

.content{
    display: grid;

}
.btnContainer{

}
.titleBox{
    background-color: wheat;
    
}
.title{
    background-color: aqua;
    color: black;
}
.exp{
background-color: blueviolet;
color: black;
}
.locationsBox{
    background-color: brown;
    color: aliceblue;
}
footer{
    background-color: rgb(59, 58, 58);
    color:white;
}